<%= content_for :my_mast do %>
  
  <div class="container d-flex h-100">
    <div class="card mx-auto my-5 justify-content-center align-self-center" style="width: 28rem;">

      <div class="card-body">
        <h5 class="card-title">Create New Client</h5>

        <%= render 'form', client: @client %>

        <%= link_to 'Back', clients_path %>
      </div>
    </div>
  </div>

<%end%>