<%= content_for(:title, "Home On Call") %>
<%= content_for(:meta_description, "Home On Call. Get a call from a pro within 10 minutes or take 10 percent off the quoted price.") %>
<%= content_for(:meta_keywords, "Home On Call, Junk Removal, HVAC, Painting") %>

<h1>THIS IS THE HOME PAGE</h1>