<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business_type.name %>
</p>

<%= link_to 'Edit', edit_business_type_path(@business_type) %> |
<%= link_to 'Back', business_types_path %>
