/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
   background-color: #f8f7f1;
   background-image: asset-url("home-on-call-bg.webp");
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
 }

 .ulcolumns {
    height: 20%; /*your fixed height*/
    -webkit-column-count: 4;
       -moz-column-count: 4;
            column-count: 4;
 }

 .ulcolumns li {
   display: block;
 }

 .service-image {
  //  height: 200px;
  width: 200px;
 }

 .page-image {
   width: 20rem;
 }