<%= content_for :my_mast do %>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=asset_path 'home_service_bathroom.jpg'%>);">
  
      <div class="card container d-flex h-100 mt-4 mb-4">

        <div class="card-body">
          <h5 class="card-title">Create New Town</h5>

          <%= render 'form', town: @town %>

          <%= link_to 'Back', towns_path %>
        </div>

      </div>

  </header>
<%end%>