  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-4 mb-3 mb-md-0">
          <p>Heating</p>
          <a href="/#projects">Boiler Repair<a> |
          <a href="/#projects">Heating Installation<a> |
          <a href="/#projects">Furnace Installation<a> 
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <p>Air Conditioning</p>
          <a href="#">AC Repair<a> |
          <a href="#">AC Service<a> |
          <a href="#">AC Installation<a> 
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <p>Ventilation and More</p>
          <a href="#">Duct Installation<a> |
          <a href="#">Refrigeration repair<a> |
          <a href="#">Air Quality Purification <a> 
        </div>
      </div> <!--closes row-->
      
      <div class="container">
        Home Service Power &copy; Copyright <%=Time.now.year%> 
      </div>

      <div class="container small">
        designed by <a href="http://yoanante.com">Yoan Ante</a>
      </div>

    </div>  <!--closes top container-->
  </footer>