  <footer class="bg-black small text-center text-white-50 mb-5 ">
    <div class="container">

      <%=render "layouts/services-footer"%>

      <div class="container">
        Home On Call &copy; Copyright <%=Time.now.year%> 
      </div>

      <div class="container small">
        designed by <a href="https://yoanante.com">Yoan Ante</a>
      </div>

    </div>  <!--closes container-->
  </footer>