  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">  
        <h1 class="mx-auto my-0 text-uppercase">Home On Call</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Have a pro contact you within 10 minutes. Guaranteed, or take 10% of the quoted price.​</h2>
        <a href="/#signup" class="btn btn-primary js-scroll-trigger">Get In Touch</a>
      </div>
    </div>
  </header>