  <!-- Header -->
  <%if current_page?(root_path)%>
  <header class="masthead" style="background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(<%=asset_path 'home_service_bathroom.jpg'%>);">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">  
        <h1 class="mx-auto my-0 text-uppercase">Home On Call</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Have a pro contact you within 10 minutes. Guaranteed, or take 10% off the quoted price.​</h2>
        <a href="/#signup" class="btn btn-primary js-scroll-trigger">Get In Touch</a>
      </div>
    </div>
  </header>
  <%else%>
    <!-- masthead -->
    <%=yield :my_mast%>
  <%end%>