<div class="container bg-dark py-5 rounded">
  <div class="row">
    
    <div class="col-md-10 col-lg-8 mx-auto text-center">

      <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
      <h2 class="text-white mb-5">Let's get started for free.</h2>
      <div class="rounded bg-light container">
        <h5 class="text-center bg-warning mb-2 p-2 rounded" id="result">Message</h5>

        <%= form_with url: search_results_path, method: "get", local: true do |f| %>
          <div class="form-group">
            <%=f.label(:search, "Search")%>
            <%=f.text_field :search, class: "form-control", placeholder: "Search for a service"%>
          </div>
            <%=f.submit("Search", name: nil, class: "btn btn-primary m-3")%>
        <% end %>
      </div>

    </div>
  </div>
</div>
