<div class="row mb-5">
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Heating</p>
    <a href="/s/home-heater-maintenance">Boiler Repair</a> |
    <a href="/s/home-heater-maintenance">Heating Installation</a> |
    <a href="/s/home-heater-maintenance">Furnace Installation</a> 
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Air Conditioning</p>
    <a href="/s/affordable-ac-repair-service">AC Repair</a> |
    <a href="/s/emergency-air-conditioner-repair">AC Service</a> |
    <a href="/s/affordable-hvac-installation">AC Installation</a> 
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Ventilation and More</p>
    <a href="/s/air-duct-cleaning-repair-installation">Duct Installation</a> |
    <a href="/s/affordable-ac-repair-service">Refrigeration Repair</a> |
    <a href="/s/air-duct-cleaning-repair-installation">Air Quality Purification </a> 
  </div>
</div> <!--closes row-->

<div class="row mb-5">
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Interior Painting</p>
    <a href="/#projects">Crown Molding</a> |
    <a href="/#projects">Bedrooms</a> |
    <a href="/#projects">Foyers</a> 
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Exterior Painting</p>
    <a href="#">Shudders<a> |
    <a href="#">Trim<a> |
    <a href="#">Brick and Masonry</a> 
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Staining</p>
    <a href="#">Decks<a> |
    <a href="#">Cabinet Painting</a> |
    <a href="#">Stairs<a> 
  </div>
</div> <!--closes row-->

<div class="row mb-5">
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Junk Removal</p>
    <a href="/s/junk-removal">Garages</a> |
    <a href="/s/junk-removal">Attics</a> |
    <a href="/s/junk-removal">Basements</a> 
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Backyard Cleanup</p>
    <a href="/s/junk-removal">Leaf Pick up</a> |
    <a href="/s/junk-removal">Branches and trees</a> |
    <a href="/s/junk-removal">Trampolines and Play sets</a> 
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Garbage Removal</p>
    <a href="/s/junk-removal">Hoarder Remediation</a> |
    <a href="/s/junk-removal">Construction Debris</a> |
    <a href="/s/junk-removal">Renovation Garbage</a> 
  </div>
</div> <!--closes row-->
