<div class="row mb-5">
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Heating</p>
    <a href="/s/best-home-heater-maintenance">Boiler Repair<a> |
    <a href="/s/best-home-heater-maintenance">Heating Installation<a> |
    <a href="/s/best-home-heater-maintenance">Furnace Installation<a> 
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Air Conditioning</p>
    <a href="/s/affordable-ac-repair-service">AC Repair<a> |
    <a href="/s/emergency-air-conditioner-repair">AC Service<a> |
    <a href="/s/affordable-hvac-installation">AC Installation<a> 
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Ventilation and More</p>
    <a href="/s/air-duct-cleaning-repair-installation">Duct Installation<a> |
    <a href="/s/affordable-ac-repair-service">Refrigeration Repair<a> |
    <a href="/s/air-duct-cleaning-repair-installation">Air Quality Purification <a> 
  </div>
</div> <!--closes row-->

<div class="row mb-5">
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Interior Painting</p>
    <a href="/#projects">Crown Molding<a> |
    <a href="/#projects">Bedrooms<a> |
    <a href="/#projects">Foyers<a> 
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Exterior Painting</p>
    <a href="#">Shudders<a> |
    <a href="#">Trim<a> |
    <a href="#">Brick and Masonry<a> 
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Staining</p>
    <a href="#">Decks<a> |
    <a href="#">Cabinet Painting<a> |
    <a href="#">Stairs<a> 
  </div>
</div> <!--closes row-->

<div class="row mb-5">
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Junk Removal</p>
    <a href="/#projects">Garages<a> |
    <a href="/#projects">Attics<a> |
    <a href="/#projects">Basements<a> 
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Backyard Cleanup</p>
    <a href="#">Leaf Pick up<a> |
    <a href="#">Branches and trees<a> |
    <a href="#">Trampolines and Play sets<a> 
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Garbage Removal</p>
    <a href="#">Hoarder Remediation<a> |
    <a href="#">Construction Debris<a> |
    <a href="#">Renovation Garbage<a> 
  </div>
</div> <!--closes row-->
