<div class="row mb-5">
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Interior Painting</p>
    <a href="/#projects">Crown Molding<a> |
    <a href="/#projects">Bedrooms<a> |
    <a href="/#projects">Foyers<a> 
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Exterior Painting</p>
    <a href="#">Shudders<a> |
    <a href="#">Trim<a> |
    <a href="#">Brick and Masonry<a> 
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Staining</p>
    <a href="#">Decks<a> |
    <a href="#">Cabinet Painting<a> |
    <a href="#">Stairs<a> 
  </div>
</div> <!--closes row-->

<div class="row mb-5">
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Heating</p>
    <a href="/#projects">Boiler Repair<a> |
    <a href="/#projects">Heating Installation<a> |
    <a href="/#projects">Furnace Installation<a> 
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Air Conditioning</p>
    <a href="#">AC Repair<a> |
    <a href="#">AC Service<a> |
    <a href="#">AC Installation<a> 
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Ventilation and More</p>
    <a href="#">Duct Installation<a> |
    <a href="#">Refrigeration repair<a> |
    <a href="#">Air Quality Purification <a> 
  </div>
</div> <!--closes row-->

<div class="row mb-5">
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Junk Removal</p>
    <a href="/#projects">Boiler Repair<a> |
    <a href="/#projects">Heating Installation<a> |
    <a href="/#projects">Furnace Installation<a> 
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Backyard Cleanup</p>
    <a href="#">AC Repair<a> |
    <a href="#">AC Service<a> |
    <a href="#">AC Installation<a> 
  </div>
  <div class="col-md-4 mb-3 mb-md-0">
    <p>Garbage Removal</p>
    <a href="#">Duct Installation<a> |
    <a href="#">Refrigeration repair<a> |
    <a href="#">Air Quality Purification <a> 
  </div>
</div> <!--closes row-->
